body {
    /* To avoid load the DOM without Styles
        script.js has a event to show the Body.
    */
    visibility: hidden;
}


.messages {
    border: 1px gray solid;
    background: #dedede;
    line-height: 2em;
    padding: 0 1em;
    display: none;
}
.messages.error{
    display: block;
    color: red;
}
.messages.info{
    display: block;
    color: green;
}

/* Jquery Validate */

label.error {
    color: red;
    padding: .4em 0;
    display: block;
}