/*
* messages to self.response.write in
* the BaseHandler.dispatcher
*/
.alert {
    display: none;
}
.alert.alert-success
, .alert.alert-error
, .alert.alert-info {
    display: block;
}

label.error {
    color: red;
    padding: .4em 0;
    display: block;
}