/**   Styles only for Google App Engine Boilerplate  **/
.home_bp {
    background: transparent url(../img/logo.png) top center no-repeat;
    padding-top: 20em;
    text-align: center;
}
.home_bp h1, .hero-unit.home_bp h1 {
    font-size: 1.6em;
}
.home_bp p, .hero-unit.home_bp p {
    font-size: 1.2em;
}

/* Rewrite Twitter Bootstrap */
.well {
    background-image: -webkit-linear-gradient(top, #efefef 0%,#eeeeee 100%);
    background-color: #eeeeee;
}
.form-actions {
    background-color: transparent;
}
.auth-at-dropdown,
.auth-at-home,
.auth-at-loginpage {

}
.auth-at-dropdown .control-group,
.auth-at-home .control-group {
    margin-bottom: 0;
}
.auth-at-dropdown input,
.auth-at-home input {
    width: 96%;
}
    .auth-at-dropdown input[type=checkbox],
    .auth-at-home input[type=checkbox] {
        width: auto;
    }

.auth-at-dropdown .btn-login,
.auth-at-home .btn-login {
    margin: 0;
}

.auth-at-dropdown {
    width: 230px;
}
form.auth-at-dropdown {
    margin: 0;
}
.auth-at-dropdown a {
    padding: 0;
    color: #0088cc;
    text-decoration: none;
}
    .auth-at-dropdown a:hover {
        color: #005580;
        text-decoration: underline;
    }
.auth-at-loginpage fieldset {
    width: 25%;
    min-width: 270px;
    margin: 0 auto;
}
    .auth-at-loginpage .btn-login {
        margin-right: 1em;
    }
    .auth-at-loginpage .remember {
        display: inline;
    }

#trird_party_login {
    padding: 0;
    background: transparent;
}
    @media (max-width: 979px) {
        .nav-collapse .dropdown-menu #form_login_user a {
            padding: 0;
        }
    }
    #trird_party_login h4 {
        padding: 0.5em 0;
    }
    #trird_party_login .social-login-icons a.social-btn {
        display: inline-block;
        margin: 0 0 0.5em 0;
        text-indent: -9000px;
        width: 32px;
        height: 32px;
        background-image: url(../img/social-login-icons.png);
        background-repeat: no-repeat;
    }
    .social-btn-google{
        background-position: 0 0;
    }
    .social-btn-facebook{
        background-position: -32px 0;
    }
    .social-btn-linkedin{
        background-position: -64px -32px;
    }
    .social-btn-myopenid{
        background-position: 0 -32px;
    }
    .social-btn-twitter{
        background-position: -64px 0;
    }
    .social-btn-yahoo{
        background-position: -32px -32px;
    }

/* Existing Social association block on profile page */

.existing-accociation {padding: 0;background: transparent;border-top: 1px solid #E5E5E5;margin: 18px 0 0 0;clear: both;}
.existing-accociation h4 {padding-top: 0.5em;}
.existing-accociation div {margin-top: 0.5em;}
.existing-accociation div div {width: 250px;}
.existing-accociation div .btn-danger {float: right;}

.well .form-actions {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .brand {
    margin-left: 0;
}

body {
    padding-top: 50px;
}

/* Used by plugins.js (jQuery placeholder support for IE) */
.hasPlaceholder {
    color: #777;
}

/* Header Bar (Subnavegacion) */
/* Subnav */
.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 50%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e7e7e7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#e7e7e7 50%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #ffffff 0%,#e7e7e7 50%); /* IE10+ */
    background-image: -o-linear-gradient(top, #ffffff 0%,#e7e7e7 50%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #ffffff 0%,#e7e7e7 50%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 18px;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    margin: 0;
    padding-top:    11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
    border-right: 0;
}

#content > .nav > li > a:hover {
    background: #ffff00;
    background-image: -moz-linear-gradient(top, #e7e7e7 0%, #f1f1f1 70%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(70%,#f1f1f1)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #e7e7e7 0%,#f1f1f1 70%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #e7e7e7 0%,#f1f1f1 70%); /* IE10+ */
    background-image: -o-linear-gradient(top, #e7e7e7 0%,#f1f1f1 70%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #e7e7e7 0%,#f1f1f1 70%); /* W3C */
}

/*
* Mediaqueries
*/
@media (max-width: 767px) {
    /* Most Landscape Phones */

    body {
        padding-right: 0;
        padding-left: 0;
    }
    .container {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar .well {
        background-image: none;
    }
    .well {
        padding: 20px 2px;
    }
    .led {
        background-color: orange;
    }

    /* Subnav */
    .subnav {
        position: static;
        top: auto;
        z-index: auto;
        width: auto;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .subnav .nav > li {
        float: none;
    }
    .subnav .nav > li > a {
        border: 0;
    }
    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {

    }

}
@media (max-width: 480px) {
    /* Most Portrait Phones */

    .navbar-fixed-top {
        margin-bottom: 0;
    }
    .navbar .well {
        background-image: none;
    }
    .navbar .brand {
        font-size: 1.4em;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .well {
        padding: 10px 2px;
    }
    .home_bp {
        background-size: 60%;
        padding-top: 18em;
    }
    .led {
        background-color: red;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* Most Portrait Tablets */

    .navbar .well {
        background-image: none;
    }
    .well {
        padding: 20px 2px;
    }
    .led {
        background-color: #F4FA58;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    /* Most Landscape Tablets */

    .led {
        background-color: #58FA58;
    }
    .subnav-fixed {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    }
    .subnav-fixed .nav {
        width: 940px;
        margin: 0 auto;
        padding: 0 1px;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

}

@media (min-width: 1200px) {
    .led {
        background-color: #87cefa;
    }
    .subnav-fixed .nav {
        width: 1170px;
        margin: 0 auto;
        padding: 0 1px;
    }

}
