<!DOCTYPE html>
<html lang="es">

<head>
    <base target="_top">

    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Contador de Votos - Plebiscito Chile 2020</title>

</head>
<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="https://script.google.com/macros/s/AKfycbxtJsFo7XmyB4SvEHc2l5foifAoxnGOY36GKEnepXSomXmZZH8/exec" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:150%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px; border: 1px solid gray;" height="150%" width="100%"></iframe>
</body>
</html>