<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ lang.id }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block title %}App Engine Boilerplate{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    {% if is_mobile %}
    <link rel="stylesheet" href="/mobile/jquery.mobile-1.1.0.min.css" />
    {% else %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    {% endif %}
    <link rel="stylesheet" href="/css/main.css" />

    {% block mediaCSS %}{% endblock %}
    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
           chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div data-role="page" data-theme="c">
        {% block header %}
            <header data-role="header" class="jumbotron subhead" id="overview">
                <h1>{% block header_content_title %}{% endblock %}</h1>
                {% if is_mobile %}
                <a href="/" data-role="button" data-icon="home" data-iconpos="notext">
                    <i class="icon-home"></i> {{ lang.menu_home|safe }}
                </a>
               {% else %}
                    {% block header_content_lead %}
                    <p class="lead">
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i> <a href="/">{{ lang.menu_home|safe }}</a> <span class="divider">/</span>
                        </li>
                        <!--li class="active">Data</li-->
                    </ul>
                    </p>
                    {% endblock %}
               {% endif %}
            </header>
        {% endblock %}

        <div data-role="content" class="container">
            <p class="alert alert-{{ level }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ messages|safe }}
            </p>

            {% block content %}{% endblock %}
            <div data-role="fieldcontain">
                <label for="select_language" class="select">{{ lang.text_language|safe }}:</label>
                <select name="select_language" id="select_language">
                    <option value="es" {% if lang.id == "es" %}selected="selected"{% endif %}>{{ lang.spanish|safe }}</option>
                    <option value="en" {% if lang.id == "en" %}selected="selected"{% endif %}>{{ lang.english|safe }}</option>
                    <option value="it" {% if lang.id == "it" %}selected="selected"{% endif %}>{{ lang.italian|safe }}</option>
                    <option value="cn" {% if lang.id == "cn" %}selected="selected"{% endif %}>{{ lang.chinese|safe }}</option>
                </select>
            </div>
        </div><!-- /content -->

        {% block footer %}
        <footer data-role="footer" class="ui-bar">
            <a href="https://github.com/coto/gae-boilerplate" class="btn btn-success" target="_blank" data-role="button" data-icon="gear">{{ lang.menu_opensource|safe }}</a>
            {% if is_mobile %}
            <a href="{{ path }}?device=desktop" class="btn btn-success" data-ajax="false" data-role="button" data-icon="plus">{{ lang.menu_version_desk|safe }}</a>
            {% else %}
            <a href="{{ path }}?device=mobile" class="btn btn-success" data-ajax="false" data-role="button" data-icon="plus">{{ lang.menu_version_mob|safe }}</a>
            {% endif %}
        </footer>
        {% endblock %}
    </div><!-- /page -->
    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    {% if is_mobile %}
    <script src="/mobile/jquery.mobile-1.1.0.min.js"></script>
    {% else %}
    <script src="/js/bootstrap.min.js"></script>
    {% endif %}

    <!-- scripts concatenated and minified via build script -->
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>
    {% block mediaJS %}{% endblock %}
    <!-- end scripts -->

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
   mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
