<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ lang.id }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block title %}Google App Engine Boilerplate{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% if is_mobile %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    {% endif %}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css" />

    {% block mediaCSS %}{% endblock %}
    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
           chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]>{{ lang.text_oldbrowser|safe }}<![endif]-->

    <div>
        {% block header %}
            <header class="subhead" id="overview">
                <h1>{% block header_content_title %}{% endblock %}</h1>
                {% block header_content_lead %}
                <p class="lead">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i> <a href="/">{{ lang.menu_home|safe }}</a> <span class="divider">/</span>
                    </li>
                    <!--li class="active">Data</li-->
                </ul>
                </p>
                {% endblock %}
            </header>
        {% endblock %}

        <div class="container">
            <p class="alert alert-{{ level }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ messages|safe }}
            </p>

            {% block content %}{% endblock %}
            <div>
                <label for="select_language" class="select">{{ lang.text_language|safe }}:</label>
                <select name="select_language" id="select_language">
                    <option value="es" {% if lang.id == "es" %}selected="selected"{% endif %}>{{ lang.spanish|safe }}</option>
                    <option value="en" {% if lang.id == "en" %}selected="selected"{% endif %}>{{ lang.english|safe }}</option>
                    <option value="it" {% if lang.id == "it" %}selected="selected"{% endif %}>{{ lang.italian|safe }}</option>
                    <option value="cn" {% if lang.id == "cn" %}selected="selected"{% endif %}>{{ lang.chinese|safe }}</option>
                </select>
            </div>
        </div><!-- /content -->

        {% block footer %}
        <footer>
            <a href="https://github.com/coto/gae-boilerplate" class="btn btn-success" target="_blank">{{ lang.menu_opensource|safe }}</a>
        </footer>
        {% endblock %}
    </div><!-- /page -->
    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="/js/libs/bootstrap.min.js"></script>

    <!-- scripts concatenated and minified via build script -->
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>
    {% block mediaJS %}{% endblock %}
    <!-- end scripts -->
</body>
</html>
