{% extends "base.html" %}

{% block header_title %}
        {{ lang.menu_register|safe }}
{% endblock %}

{% block content %}

    <form id="form_register" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            {{ macros.input(form, "username", lang.field_username, placeholder=lang.enter_your+" "+lang.field_username, class="input-xlarge focused required") }}
            {{ macros.input(form, "name", lang.field_name, placeholder=lang.enter_your+" "+lang.field_name, class="input-xlarge focused") }}
            {{ macros.input(form, "last_name", lang.field_lastname, placeholder=lang.enter_your+" "+lang.field_lastname, class="input-xlarge focused") }}
            {{ macros.input(form, "email", lang.field_email, placeholder=lang.enter_your+" "+lang.field_email, class="input-xlarge focused required email", type="email") }}
            {{ macros.input(form, "password", lang.field_password, placeholder=lang.enter_your+" "+lang.field_password, class="input-xlarge focused required", type="password") }}
            {% if not is_mobile %}
            {{ macros.input(form, "c_password", lang.field_cpassword, placeholder=lang.field_cpassword, class="input-xlarge focused required", type="password") }}
            {% endif %}
            {{ macros.input(form, "country", lang.field_country) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_register|safe }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_register").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            /*
            TODO: Front-end validation
            rules: {
                password: 'required',
                c_password: {
                    required: true,
                    equalTo: '#password'
                }
            },*/
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

