{% extends base_layout %}

{% block header_title %}
    {% trans %}Secure Page{% endtrans %}
{% endblock %}

{% block content %}

    <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> This page is only a sample,
        and you can remove it or overwrite it as you want.
    </div>

    <table>
        <tr>
        <td>
            Mobile:
            <span class="label {% if is_mobile %}label-success{% endif %}">{{ is_mobile }}</span>
        </td>
        </tr>
    </table>
    <h3>Session information</h3>
    <div class="tooltip-demo well">
    <ul>
        {% for us in user_session %}
        <li><b>{{ us }}:</b> {{ user_session[us] }}</li>
        {% endfor %}
    </ul>
    <b>Session object:</b> {{ user_session_object }}
    </div>

    <h3>User information</h3>
    <div class="tooltip-demo well">
    <ul>
        <li><b>user_id:</b> {{ user_info.key }}</li>
        <li><b>created:</b> {{ user_info.created }}</li>
        <li><b>updated:</b> {{ user_info.updated }}</li>
        <li><b>username:</b> {{ user_info.username }}</li>
        <li><b>name:</b> {{ user_info.name }}</li>
        <li><b>last name:</b> {{ user_info.last_name }}</li>
        <li><b>country:</b> {{ user_info.country }}</li>
        <li><b>email:</b> {{ user_info.email }}</li>
        <li><b>IP:</b> {{ user_info.ip }}</li>
        <li><b>Password:</b> {{ user_info.password }}</li>
    </ul>
    <b>User object:</b> {{ user_info_object }}
    </div>
    <p><a href="{{ logout_url }}" class="btn btn-primary">{% trans %}Logout{% endtrans %}</a></p>


{% endblock %}