{% extends "base.html" %}

{% block header_title %}
    {% trans %}Change your password{% endtrans %}
{% endblock %}

{% block content %}

    <form id="form_edit_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "current_password", _("Current Password"), placeholder=_("Enter your")+" "+_("Current Password"), class="input-xlarge focused required", type="password") }}
            <div class="control-group">
                <div class="controls">
                    <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                </div>
            </div>
            {{ macros.input(form, "password", _("New Password"), placeholder=_("Enter your")+" "+_("New Password"), class="input-xlarge focused required", type="password") }}
            {% if not is_mobile %}
            {{ macros.input(form, "c_password", _("Confirm Password"), placeholder=_("Confirm Password"), class="input-xlarge focused required", type="password") }}
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Change password{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}