{% extends "base.html" %}

{% block header_content_title %}
    {{ lang.menu_fyp|safe }}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

    <form action="{{ action|safe }}" method="post" class="ui-body ui-body-c well">

        <div data-role="fieldcontain">
            <label for="email_or_username">{{ lang.login_username|safe }}:</label>
            <input type="text" name="email_or_username" id="email_or_username" placeholder="{{ lang.enter_your|safe }} {{ lang.login_username|safe }}"/>
        </div>
		<div id="captcha">
        	{{captchahtml | safe}}
        </div>
        <button type="submit" class="btn btn-primary" data-theme="b">{{ lang.menu_reset|safe }}</button>

    </form>
    <ul data-role="listview" data-divider-theme="b" data-inset="true" class="nav nav-tabs nav-stacked">
        <li data-role="list-divider" role="heading">
            {{ lang.menu_components|safe }}
        </li>
        <li data-theme="c">
            <a href="/create" data-transition="slide">{{ lang.menu_create_user|safe }}</a>
        </li>
        <li data-theme="c">
            <a href="/login" data-transition="slide">{{ lang.menu_login|safe }}</a>
        </li>
        <li data-theme="c">
            <a href="/contact" data-transition="slide">{{ lang.menu_contact|safe }}</a>
        </li>
        <li data-theme="c">
            <a href="/secure" data-transition="slide">{{ lang.menu_secure|safe }}</a>
        </li>
        <li data-theme="c">
            <a href="/google-login" data-transition="slide">{{ lang.menu_glogin|safe }}</a>
        </li>
    </ul>

{% endblock %}