{% extends base_layout %}

{% block header_title %}
        {% trans %}Sign Up{% endtrans %}
{% endblock %}

{% block content %}

    <form id="form_register" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "username", _("Username"), placeholder=_("Enter your")+" "+_("Username"), class="input-xlarge focused required") }}
            {{ macros.input(form, "name", _("Name"), placeholder=_("Enter your")+" "+_("Name"), class="input-xlarge focused") }}
            {{ macros.input(form, "last_name", _("Last Name"), placeholder=_("Enter your")+" "+_("Last Name"), class="input-xlarge focused") }}
            {{ macros.input(form, "email", _("Email"), placeholder=_("Enter your")+" "+_("Email"), class="input-xlarge focused required email", type="email") }}
            {{ macros.input(form, "password", _("Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required", type="password") }}
            {% if not is_mobile %}
            {{ macros.input(form, "c_password", _("Confirm Password"), placeholder=_("Confirm Password"), class="input-xlarge focused required", type="password") }}
            {% endif %}
            {{ macros.input(form, "country", _("Country")) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_register").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            rules: {
                password: 'required',
                c_password: {
                    required: true,
                    equalTo: '#password'
                }
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });

        $("#password").passStrength({
            baseStyle: 'label',
            shortPass: 'label-info',
            shortPassText: {% trans %}'Short Password'{% endtrans %},
            badPass: 'label-important',
            badPassText: {% trans %}'Insecure Password'{% endtrans %},
            goodPass: 'label-warning',
            goodPassText: {% trans %}'Good Password'{% endtrans %},
            strongPass: 'label-success',
            strongPassText: {% trans %}'Secure Password'{% endtrans %}
        });
    });
</script>
{% endblock %}

