{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_fyp|safe }}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

    <form action="{{ action|safe }}" method="post" class="well">

        <div>
            <label for="email_or_username">{{ lang.login_username|safe }}:</label>
            <input type="text" name="email_or_username" id="email_or_username" placeholder="{{ lang.enter_your|safe }} {{ lang.login_username|safe }}"/>
        </div>
		<div id="captcha">
        	{{captchahtml | safe}}
        </div>
        <button type="submit" class="btn btn-primary">{{ lang.menu_reset|safe }}</button>

    </form>
{% endblock %}