{% extends "base.html" %}

{% block header_content_title %}
        {{ lang.menu_contact|safe }}
{% endblock %}

{% block content %}

    <form id="form_contact" action="{{ action }}" method="post" class="well">

        <div>
            <label for="name">{{ lang.field_name|safe }}:</label>
            <input type="text" name="name" id="name" placeholder="{{ lang.enter_your|safe }} {{ lang.field_name|safe }}" value="{{ name }}" />
        </div>

        <div>
            <label for="email">{{ lang.field_email|safe }}:</label>
            <input type="email" name="email" id="email" placeholder="{{ lang.enter_your|safe }} {{ lang.field_email|safe }}" class="required email" value="{{ email }}" />
        </div>

        <div>
            <label for="message">{{ lang.field_message|safe }}:</label>
            <textarea cols="40" rows="8" name="message" id="message" class="required"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">{{ lang.button_contact|safe }}</button>

    </form>

    <ul class="nav nav-tabs nav-stacked">
        <li>{{ lang.menu_components|safe }}</li>
        <li><a href="/create">{{ lang.menu_create_user|safe }}</a></li>
        <li><a href="/secure">{{ lang.menu_secure|safe }}</a></li>
        <li><a href="/password-reset/">{{ lang.menu_fyp|safe }}</a></li>
    </ul>

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate();
    });
</script>
{% endblock %}

