{% extends "base.html" %}

{% block header_content_title %}
    Password Reset Complete
{% endblock %}

{% block content %}

    <form id="form_new_password" action="{{ action|safe }}" method="post" class="ui-body ui-body-c well">

        <div data-role="fieldcontain">
            <label for="password">New password:</label>
            <input type="password" name="password" id="password" placeholder="Enter new password" class="required" />
        </div>

        <div data-role="fieldcontain">
            <label for="c_password">{{ lang.field_cpassword|safe }}:</label>
            <input type="password" name="c_password" id="c_password" placeholder="Confirm password" class="required" />
        </div>

                
        <button type="submit" class="btn btn-primary" data-theme="b" aria-disabled="false">Change Password</button>

    </form>

{% endblock %}