{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_login|safe }}
{% endblock %}

{% block content %}
    <form id="form_login_user" action="{{ action|safe }}" method="post" class="well form-vertical auth-at-loginpage">
        <fieldset>
            {{ macros.input(form, "username", lang.login_username, placeholder=lang.enter_your+" "+lang.login_username, class="input-xlarge focused required") }}
            {{ macros.input(form, "password", lang.login_password, placeholder=lang.enter_your+" "+lang.login_password, class="input-xlarge focused required", type="password") }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary btn-large btn-login">{{ lang.menu_login|safe }}</button>
                    <label class="remember">
                        <input type="checkbox" name="remember_me" id="remember_me" value="on">
                        {{ lang.login_remember|safe }}
                    </label>
                </div>
            </div>
            <div id="trird_party_login" class="form-actions">
                <h4>Or Sign in using:</h4>
                <ul class="unstyled">
                    <li><a href="#" id="sign-in-with-google"><img src="/img/icon_google.png" alt="Google" title="Google"></a></li>
                    <li><a href="#" id="sign-in-with-facebook"><img src="/img/icon_facebook.png" alt="Facebook" title="Facebook"></a></li>
                    <li><a href="#" id="sign-in-with-linkedin"><img src="/img/icon_linkedin.gif" alt="LinkedIn" title="LinkedIn"></a></li>
                    <li><a href="#" id="sign-in-with-myopenid"><img src="/img/icon_myopenid.png" alt="MyOpenid" title="MyOpenid"></a></li>
                    <li><a href="#" id="sign-in-with-twitter"><img src="/img/icon_twitter.png" alt="Twitter" title="Twitter"></a></li>
                    <li><a href="#" id="sign-in-with-yahoo"><img src="/img/icon_yahoo.png" alt="Yahoo!" title="Yahoo!"></a></li>
                    <li><a href="#" id="sign-in-with-googleapps"><img src="/img/icon_google_apps.png" alt="Google Apps" title="Google Apps"></a></li>
                </ul>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}