{% extends "base.html" %}

{% block header_title %}
        {{ lang.menu_edit_profile|safe }}
{% endblock %}

{% block content %}

    <form id="form_edit_profile" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            {{ macros.input(form, "username", lang.field_username, placeholder=lang.enter_your+" "+lang.field_username, class="input-xlarge focused required") }}
            {{ macros.input(form, "name", lang.field_name, placeholder=lang.enter_your+" "+lang.field_name, class="input-xlarge focused") }}
            {{ macros.input(form, "last_name", lang.field_lastname, placeholder=lang.enter_your+" "+lang.field_lastname, class="input-xlarge focused") }}
            {{ macros.input(form, "email", lang.field_email, placeholder=lang.enter_your+" "+lang.field_email, class="input-xlarge focused required email", type="email") }}
            {{ macros.input(form, "country", lang.field_country) }}
            <div class="control-group">
                <div class="controls">
                    <a href="{{ uri_for("edit-password") }}">{{ lang.menu_edit_password|safe }}</a>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_edit_profile|safe }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_edit_profile").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
        {% if country != "" %}
        $('#country option[value="{{ country }}"]').attr("selected",true);
        {% endif %}
    });
</script>
{% endblock %}

