{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_edit_password|safe }}
{% endblock %}

{% block content %}

    <form id="form_edit_password" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            {{ macros.input(form, "current_password", lang.field_current_password, placeholder=lang.enter_your+" "+lang.field_current_password, class="input-xlarge focused required", type="password") }}
        	{{ macros.input(form, "password", lang.field_new_password, placeholder=lang.enter_your+" "+lang.field_new_password, class="input-xlarge focused required", type="password") }}
            {% if not is_mobile %}
            {{ macros.input(form, "c_password", lang.field_cpassword, placeholder=lang.field_cpassword, class="input-xlarge focused required", type="password") }}
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_edit_password|safe }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}