{% extends "base.html" %}

{% block header_title %}
    Password Reset Complete
{% endblock %}

{% block content %}

    <form id="form_new_password" action="{{ action|safe }}" method="post" class="well">

        <div>
            <label for="password">New password:</label>
            <input type="password" name="password" id="password" placeholder="Enter new password" class="required" />
        </div>

        <div>
            <label for="c_password">{{ lang.field_cpassword|safe }}:</label>
            <input type="password" name="c_password" id="c_password" placeholder="Confirm password" class="required" />
        </div>
                
        <button type="submit" class="btn btn-primary">Change Password</button>

    </form>

{% endblock %}