{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
            <div class="hero-unit">
                <h1>
                    {{ lang.text_title|safe }}
                </h1>
                <p style="text-align: center">
                    <img src="img/google-app-engine-logo.png" />
                    <br/>
                    {{ lang.text_description|safe }}
                </p>
            </div>
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    {{ lang.menu_components|safe }}
                </li>
                <li>
                    <a href="/create">{{ lang.menu_create_user|safe }}</a>
                </li>
                <li>
                    <a href="/login">{{ lang.menu_login|safe }}</a>
                </li>
                <li>
                    <a href="/contact">{{ lang.menu_contact|safe }}</a>
                </li>
                <li>
                    <a href="/secure">{{ lang.menu_secure|safe }}</a>
                </li>
                <li>
                    <a href="/password-reset/">{{ lang.menu_fyp|safe }}</a>
                </li>
                <li>
                    <a href="/google-login">{{ lang.menu_glogin|safe }}</a>
                </li>
            </ul>
{% endblock %}

