{% extends "base.html" %}

{% block header_title %}
    Password Reset Complete
{% endblock %}

{% block content %}

    <form id="form_new_password" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="password">New password:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="password" id="password" type="password" placeholder="Enter new password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="c_password">{{ lang.field_cpassword|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="c_password" id="c_password" type="password" placeholder="Confirm password">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_new_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}