{% extends "base.html" %}

{% block header_content_title %}
    {{ lang.menu_login|safe }}
{% endblock %}

{% block content %}
    <form id="form_login_user" action="{{ action|safe }}" method="post" class="well">

        <div>
            <label for="username">{{ lang.login_username|safe }}:</label>
            <input type="text" name="username" id="username" placeholder="{{ lang.enter_your|safe }} {{ lang.login_username|safe }}" class="required" />
        </div>

        <div>
            <label for="password">{{ lang.login_password|safe }}:</label>
            <input type="password" name="password" id="password" placeholder="{{ lang.enter_your|safe }} {{ lang.field_password|safe }}" class="required" />
        </div>

        <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="remember_me" id="remember_me" value="on">
                  {{ lang.login_remember|safe }}
              </label>
            </div>
          </div>

        <button type="submit" class="btn btn-primary">{{ lang.menu_login|safe }}</button>

    </form>

    <ul class="nav nav-tabs nav-stacked">
        <li>
            {{ lang.menu_components|safe }}
        </li>
        <li>
            <a href="/create">{{ lang.menu_create_user|safe }}</a>
        </li>
        <li>
            <a href="/contact">{{ lang.menu_contact|safe }}</a>
        </li>
        <li>
            <a href="/password-reset/">{{ lang.menu_fyp|safe }}</a>
        </li>
        <li>
            <a href="/google-login">{{ lang.menu_glogin|safe }}</a>
        </li>
    </ul>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {

            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                }
            });
        });
    </script>
{% endblock %}