{% extends "base.html" %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <form id="form_login_user" action="{{ action }}" method="post" class="ui-body ui-body-c">

        <div data-role="fieldcontain">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Your username" class="required" />
        </div>

        <div data-role="fieldcontain">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Your Password" class="required" />
        </div>

        <div data-role="fieldcontain">
            <label for="remember_me">Remember me?:</label>
            <select name="remember_me" id="remember_me" data-role="slider">
                <option value="off">No</option>
                <option value="on">Yes</option>
            </select>
        </div>

        <button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">Login</button>

    </form>
    <ul>
        <li><a href="/create">Create user</a></li>
        <li><a href="/password/reset">Forgot Password</a></li>
        <li><a href="/google-login">Login with Google Account</a></li>
    </ul>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {

            $("#form_login_user").validate({
                submitHandler: function(form) {
                    /*
                     * The real password never will be on the air.
                     * Hashed: to avoid rehash the password clicking on submit again.
                     * */
                    // TODO: implement this second layer of security,
                    // it sometimes encrypt the password
//                     var pwd = $("#password");
//                    if ( pwd.val() != "" && pwd.attr("hashed") != "true" ){
//                        var md5 = MD5(pwd.val());
//                        console.log(pwd.val() + " -> " + md5 );
//                        pwd.val(md5).attr("hashed", "true");
                        form.submit();
//                    }

                }
            });
        });
    </script>
{% endblock %}