{% extends "base.html" %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <form action="{{ action }}" method="post" class="ui-body ui-body-c">

        <div data-role="fieldcontain">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"  placeholder="Your username"  />
        </div>

        <div data-role="fieldcontain">
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" placeholder="Your Password" />
        </div>

        <div data-role="fieldcontain">
            <label for="remember_me">Remember me?:</label>
            <select name="remember_me" id="remember_me" data-role="slider">
                <option value="off">No</option>
                <option value="on">Yes</option>
            </select>
        </div>

        <button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">Login</button>

    </form>
    <ul>
        <li><a href="/create">Create user</a></li>
        <li><a href="/password/reset">Forgot Password</a></li>
        <li><a href="/google-login">Login with Google Account</a></li>
    </ul>
{% endblock %}