{% extends "base.html" %}

{% block header %}
    <div data-role="header">
        <h1>{{ lang.menu_fyp }}</h1>
        <i class="icon-home"></i>
        <a href="/" data-role="button" data-icon="home" data-iconpos="notext">{{ lang.menu_home }}</a>
    </div>
{% endblock %}

{% block content %}

    <form action="{{ action }}" method="post" class="ui-body ui-body-c well">

        <div data-role="fieldcontain">
            <label for="email">{{ lang.login_username }}:</label>
            <input type="text" name="email" id="email" placeholder="Your Email"/>
        </div>

        <button type="submit" class="btn btn-primary" data-theme="b">{{ lang.menu_reset }}</button>

    </form>
    <ul data-role="listview" data-divider-theme="b" data-inset="true" class="nav nav-tabs nav-stacked">
        <li data-role="list-divider" role="heading">
            {{ lang.menu_components }}
        </li>
        <li data-theme="c">
            <a href="/create" data-transition="slide">
                {{ lang.menu_create_user }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/login" data-transition="slide">
                {{ lang.menu_login }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/secure" data-transition="slide">
                {{ lang.menu_secure }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/google-login" data-transition="slide">
                {{ lang.menu_glogin }}
            </a>
        </li>
    </ul>

{% endblock %}