{% extends "base.html" %}

{% block header %}
    <h1>Password Reset</h1>
{% endblock %}

{% block content %}

    <form action="/password/reset/" method="post" class="ui-body ui-body-c">

        <div data-role="fieldcontain">
            <label for="email">Username:</label>
            <input type="text" name="email" id="email" placeholder="Your Email"/>
        </div>

        <button type="submit" data-theme="a">Reset</button>

    </form>
    <ul>
        <li><a href="/create">Create User</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/google-login">Login with Google Account</a></li>
    </ul>

{% endblock %}