{% extends "base.html" %}

{% block header %}
    <div data-role="header">
        <h1>{{ lang.menu_fyp|safe }}</h1>
        <i class="icon-home"></i>
        <a href="/" data-role="button" data-icon="home" data-iconpos="notext">{{ lang.menu_home|safe }}</a>
    </div>
{% endblock %}

{% block content %}

    <form action="{{ action|safe }}" method="post" class="ui-body ui-body-c well">

        <div data-role="fieldcontain">
            <label for="email">{{ lang.login_username|safe }}:</label>
            <input type="text" name="email" id="email" placeholder="{{ lang.enter_your|safe }} {{ lang.login_username|safe }}"/>
        </div>

        <button type="submit" class="btn btn-primary" data-theme="b">{{ lang.menu_reset|safe }}</button>

    </form>
    <ul data-role="listview" data-divider-theme="b" data-inset="true" class="nav nav-tabs nav-stacked">
        <li data-role="list-divider" role="heading">
            {{ lang.menu_components|safe }}
        </li>
        <li data-theme="c">
            <a href="/create" data-transition="slide">
                {{ lang.menu_create_user|safe }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/login" data-transition="slide">
                {{ lang.menu_login|safe }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/secure" data-transition="slide">
                {{ lang.menu_secure|safe }}
            </a>
        </li>
        <li data-theme="c">
            <a href="/google-login" data-transition="slide">
                {{ lang.menu_glogin|safe }}
            </a>
        </li>
    </ul>

{% endblock %}