{% extends "base.html" %}

{% block header %}
    <h1>Secure zone</h1>
{% endblock %}

{% block content %}

    <h3>Session information</h3>
    <ul>
        <li><b>user_id:</b> {{ session_user_id }}</li>
        <li><b>remember:</b> {{ session_remember }}</li>
    </ul>
    <h3>User information</h3>
    <ul>
        <li><b>user_id:</b> {{ userinfo_user_id }}</li>
        <li><b>username:</b> {{ userinfo_username }}</li>
        <li><b>created:</b> {{ userinfo_created }}</li>
        <li><b>email:</b> {{ userinfo_email }}</li>
        <li><b>User Object:</b> {{ userinfo_object }}</li>
    </ul>
    <p><a href='{{ logout_url }}' data-role="button" data-inline="true" data-theme="b">Logout</a></p>

{% endblock %}