{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <center>
        {% if a %}
        <h1>
            {% trans %}Up on Google App Engine <br> in less than a minute {% endtrans %}
        </h1>
        <p>
            {% trans %}GAE - boilerplate is the <em>fastest way</em> to be up and running on Google App Engine.{% endtrans %}
        </p>
        {% else %}
        <h1>
            {% trans %}The best starter kit <br>for Google App Engine{% endtrans %}
        </h1>
        <p>
            {% trans %}GAE - boilerplate is the <em>easiest way</em> to be up and running on Google App Engine.{% endtrans %}
        </p>
        {% endif %}
        </center>
    </div>

    <div class="row">
        <div class="span12 control-group info" align="center">
            <form class="form-inline" id="mailing-subscription-form" action="/mailing_list/subscribe/" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <input style="height: 40px" class="span4" type="email" name="email" id="email-input" placeholder="Enter your Email address" required>
                <button type="submit" class="btn btn-primary btn-large">Subscribe to learn more &raquo;</button>
            </form>
        </div>
    </div> <!-- row -->

    <div class="row">
        <ul class="thumbnails">
            <center>
            <li class="span4">
                <div class="thumbnail" style="border: 0px;">
                    <div class="outer">
                        <div class="inner">
                            <img class="img-rounded" data-src="holder.js/300x200" alt="Placeholder">
                        </div>
                        <div class="resize"></div>
                    </div>
                    <h3>Header 1</h3>
                    <p> {{ lipsum(n=1, html=True, min=10, max=15) }} </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail" style="border: 0px;">
                    <div class="outer">
                        <div class="inner">
                            <img class="img-rounded" data-src="holder.js/300x200" alt="Placeholder">
                        </div>
                        <div class="resize"></div>
                    </div>
                    <h3>Header 2</h3>
                    <p> {{ lipsum(n=1, html=True, min=10, max=15) }} </p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail" style="border: 0px;">
                    <div class="outer">
                        <div class="inner">
                            <img class="img-rounded" data-src="holder.js/300x200" alt="Placeholder">
                        </div>
                        <div class="resize"></div>
                    </div>
                    <h3>Header 3</h3>
                    <p> {{ lipsum(n=1, html=True, min=10, max=15) }} </p>
                </div>
            </li>
            </center>
        </ul>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript" src="/boilerplate/js/libs/holder.js"> </script>
{% endblock %}

