{% extends 'base.html' %}
{% import 'admin/macros.html' as lib with context %}

{% block header %}
    <header class="navbar" id="overview">
        {% block header_title_lead %}
        <h1>{% block header_title %}{{ app_name }}{% endblock %}</h1>
        {% endblock %}
    </header>
{% endblock %}

{% block navbar %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-chevron-down icon"></span>
                </button>
                <a class="brand" href="{{ uri_for('geochart') }}">Admin {{ app_name }}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li {% if path == uri_for('geochart') %}class="active"{% endif %}><a href="{{ uri_for('geochart') }}">{% trans %}Users Geolocation{% endtrans %}</a></li>
                        <li {% if path == uri_for('user-list') %}class="active"{% endif %}><a href="{{ uri_for('user-list') }}">{% trans %}User List{% endtrans %}</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="{{ uri_for('admin-logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                    </ul>
                </div><!-- /navbar-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
{% endblock %}

{% block subnavbar %}
{% endblock %}
