{% extends 'admin/base.html' %}
{% block subnavbar %}
<ul class="breadcrumb">
    <li><a href="/admin/">Home</a><span class="divider">/</span></li>
    <li><a href="{{uri_for('%s-list'%pretty_name.lower())}}">List</a><span class="divider">/</span></li>
    <li class="active">Details</li>
</ul>
{% endblock %}
{% block header_title %}
  {% trans %}{{ pretty_name }} Details{% endtrans %}
{% endblock %}

{% block content %}



  {{ lib.render_form(form, uri_for('%s-list'%pretty_name.lower()), btn='Update') }}
{% endblock %}